.single-apartment, .page-template-single-apartment {
	.container {
		background-image: url('../images/bg_grunge.jpg');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		padding:4em 0;
	}
}


.single--apartment__alaprajz {
	@include clearfix();
	text-align: center;
	margin:0 auto;
	max-width: $s1;
	

	@include bp($s2) {
		@include clearfix();
		width:65%;
		float:left;
		margin-right: 1.5%;
		max-width:none;
		
	}

	@include bp($s4) {
		width:47%;
		margin-right: 1.5%;

	}


}

.single--apartment__adatok {
	@include clearfix();
	position: relative;
	margin:4em auto 0;
	max-width:600px;
	padding:1.5em 1.5em 2.5em;
	background-color: rgba(#fff,.7);
	@include bp($s2) {
		@include clearfix();
		width:32%;
		float:right;
		margin-top: 0;
		margin-left: 1.5%;
	}

	@include bp($s4) {
		width:47%;
		margin-left: 1.5%;
	}

	.btn {
		position: absolute;
		font-size: 1em;
		right:-1em;
		bottom:-1em;
	}
}


.single--apartment__head {

}

.single--apartment__title {
	font-family: $scifly;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 1.25em;
	margin-bottom: 2em;
	span {
		display: block;
		color:$highlight;
		font-size: 2em;
	}
	@include bp($s4) {
		margin-bottom: 6em;
	}
}


.datapanel {
	list-style-type: none;
	margin:2em 0;
	padding:0;
	text-align: center;
	
}

.datapanel__item {
	@include clearfix();
	font-size:.875em;
	font-weight: 400;
	margin:1.25em 0;
	span {
		display: inline-block;
		float: left;
		min-width: 6em;
		text-align: left;
	}
}

.single--apartment__datapanel {
	@include bp($s1) {
		float:left;
		width:49%;
		margin-right: 1%;
	}
	@include bp($s2) {
		float:none;
		width:auto;
		margin:0;
	}

	@include bp($s4) {
		float:left;
		width:49%;
		margin-right: 1%;
	}
}

.single--apartment__schema {
	margin:3em 0 2em 0;
	@include bp($s1) {
		float:right;
		width:49%;
		margin-left: 1%;
	}
	@include bp($s2) {
		float:none;
		width:auto;
		margin:0;
	}
	@include bp($s4) {
		float:right;
		width:49%;
		margin-left: 1%;
	}
}




