@font-face {
  
  font-family: 'SciFly-Sans';
  src: url('../fonts/SciFly-Sans.eot');
  src: url('../fonts/SciFly-Sans.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SciFly-Sans.woff2') format('woff2'),
       url('../fonts/SciFly-Sans.woff') format('woff'),
       url('../fonts/SciFly-Sans.ttf') format('truetype'),
       url('../fonts/SciFly-Sans.svg#SciFly-Sans') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'DINNextLTPro';
  src: url('../fonts/DINNextLTPro-Light.eot');
  src: url('../fonts/DINNextLTPro-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DINNextLTPro-Light.woff2') format('woff2'),
       url('../fonts/DINNextLTPro-Light.woff') format('woff'),
       url('../fonts/DINNextLTPro-Light.ttf') format('truetype'),
       url('../fonts/DINNextLTPro-Light.svg#DINNextLTPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DINNextLTPro';
  src: url('../fonts/DINNextLTPro-LightItalic.eot');
  src: url('../fonts/DINNextLTPro-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DINNextLTPro-LightItalic.woff2') format('woff2'),
       url('../fonts/DINNextLTPro-LightItalic.woff') format('woff'),
       url('../fonts/DINNextLTPro-LightItalic.ttf') format('truetype'),
       url('../fonts/DINNextLTPro-LightItalic.svg#DINNextLTPro-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

// @font-face {
//   font-family: 'DINNextLTPro';
//   src: url('../fonts/DINNextLTPro-Regular.eot');
//   src: url('../fonts/DINNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
//        url('../fonts/DINNextLTPro-Regular.woff2') format('woff2'),
//        url('../fonts/DINNextLTPro-Regular.woff') format('woff'),
//        url('../fonts/DINNextLTPro-Regular.ttf') format('truetype'),
//        url('../fonts/DINNextLTPro-Regular.svg#DINNextLTPro-Regular') format('svg');
//   font-weight: 400;
//   font-style: normal;
// }


@font-face {
  font-family: 'DINNextLTPro';
  src: url('../fonts/DINNextLTPro-Medium.eot');
  src: url('../fonts/DINNextLTPro-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DINNextLTPro-Medium.woff2') format('woff2'),
       url('../fonts/DINNextLTPro-Medium.woff') format('woff'),
       url('../fonts/DINNextLTPro-Medium.ttf') format('truetype'),
       url('../fonts/DINNextLTPro-Medium.svg#DINNextLTPro-Medium') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DINNextLTPro';
  src: url('../fonts/DINNextLTPro-MediumItalic.eot');
  src: url('../fonts/DINNextLTPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DINNextLTPro-MediumItalic.woff2') format('woff2'),
       url('../fonts/DINNextLTPro-MediumItalic.woff') format('woff'),
       url('../fonts/DINNextLTPro-MediumItalic.ttf') format('truetype'),
       url('../fonts/DINNextLTPro-MediumItalic.svg#DINNextLTPro-MediumItalic') format('svg');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: 'DINNextLTPro';
  src: url('../fonts/DINNextLTPro-Bold.eot');
  src: url('../fonts/DINNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DINNextLTPro-Bold.woff2') format('woff2'),
       url('../fonts/DINNextLTPro-Bold.woff') format('woff'),
       url('../fonts/DINNextLTPro-Bold.ttf') format('truetype'),
       url('../fonts/DINNextLTPro-Bold.svg#DINNextLTPro-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'DINNextLTPro';
  src: url('../fonts/DINNextLTPro-Black.eot');
  src: url('../fonts/DINNextLTPro-Black.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DINNextLTPro-Black.woff2') format('woff2'),
       url('../fonts/DINNextLTPro-Black.woff') format('woff'),
       url('../fonts/DINNextLTPro-Black.ttf') format('truetype'),
       url('../fonts/DINNextLTPro-Black.svg#DINNextLTPro-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}












