.fele {
	@include clearfix();
	margin:0 auto;
	max-width:600px;
	@include bp($s3) {
		@include clearfix();
		width:47%;
	}
}

.fele--bal {
	@include bp($s3) {
		float:left;
		margin-right: 1.5%;
	}
}

.fele--jobb {
	@include bp($s3) {
		float:right;
		margin-left: 1.5%;
	}
}

.fele--overlay {
	padding:1.5em;
	background-color: rgba(#fff,.7);
}

.pagehero {
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	.wrapper {
		height: 66.666vh;		
		@include bp($s2) {
			height: 75vh;
			min-height: 25em;
			max-height: 33em;
		}
	}

	.pagehero__more {
		position: absolute;
		bottom:1em;

	}
}

.subcontent {
	text-align: center;
	padding:0 0 4em;
}

.subcontent__hero {
	img {
		display: block;
		margin:0 auto;
	}
}

.subcontent__title {
	font-weight: normal;
	font-family: $scifly;
	color:$highlight;
	margin-top: 3em;
	margin-bottom: 1em;
	font-size: 2em;
	text-transform: uppercase;
}

.subcontent__lead {
	font-weight: 700;
	color:$highlight;
	margin-bottom: 2em;
}

.subcontent__text {
	text-align: left;
	//font-size: .875em;
	h3 {
		font-size: 1em;
		margin-top: 3em;
		color:$highlight;
	}

}