
.tricky {
	text-align: center;
	.wrapper {
		padding-top: 4em;
		padding-bottom: 4em;
		max-width: 24em;
		@include bp($s2) {
			max-width: $normalmax;
		}
	}
}

.tricky__title {
	@include hide-text();
	background-image: url('../images/logo_text.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
	display: block;
	height:4em;
	width:11.25em;
	//background-color: red;
	margin:0 auto;
	@include bp($s2) {
		margin:-2.75em 0 0;
		display: inline-block;
		width:20%;
		position: absolute;
		top:50%;
		left:50%;
		transform:translateY(-50%) translateX(-50%);
	}
	@include bp($s3) {
		width:27%;
	}
	@include bp($s4) {
		height:4em;
		width:11em;
	}
}

.tricky__left {
	float:left;
	width:50%;
	@include bp($s2) {
		width:33.333%;

		.tricky__elem {
			clear:both;
			float:right;
			&:after {
				left:110%;
			}
			&:nth-child(2) {
				float:left;
				.tricky__elem__min {
					right:-8em;
					top:-.75em;
				}
			}

			&:first-child {
				&:after{
					transform:rotate(45deg);
					transform-origin: top left;
				}
				.tricky__elem__min {
					right:-9.5em;
					top:3em;
				}
			}
			&:last-child{
				&:after{
					transform:rotate(-45deg);
					transform-origin: top left;
				}
				.tricky__elem__min {
					right:-9.5em;
					top:-3em;
				}
			}
		}
	}




}

.tricky__right {
	float:right;
	width:50%;
	@include bp($s2) {
		width:33.333%;
		


		.tricky__elem {
			clear:both;
			float:left;
			&:after {
				right:110%;
			}
			&:nth-child(2) {
				float:right;
				.tricky__elem__min {
					left:-8em;
					top:-.75em;
				}
			}

			&:first-child {
				&:after{
					transform:rotate(-45deg);
					transform-origin: top right;
				}
				.tricky__elem__min {
					left:-9em;
					top:3em;
				}
			}
			&:last-child {
				&:after {
					transform:rotate(45deg);
					transform-origin: top right;
				}
				.tricky__elem__min {
					left:-9em;
					top:-3em;
				}
			}

		}

	}





}
.tricky__elem {
	position: relative;
	text-align: center;
	font-family: $sans-serif;
	margin:3em 0;
	
	@include bp($s2) {
		margin:3em 0;
		&:after {
			position: absolute;
			content: '';
			display: block;
			height:1px;
			background-color: $pridark;
			width:7em;
			top:1.125em;
		}
	}

	@include bp($s3) {
		&:after {
			width:8em;
		}
	}

}

.tricky__elem__title {
	font-size: 1.333em;
	line-height: 1;
	font-weight: 900;
	margin:0;
	padding:.333em 1.5em .25em;
	border-top: 1px solid $pridark;
	border-bottom: 1px solid $pridark;
	display: inline-block;
	position: relative;
	&:before {
		z-index:-1;
		position: absolute;
		content:'';
		display: block;
		left:3px;
		right:3px;
		top:-3px;
		bottom:-3px;
		//background-color: red;
		border-top: 1px solid $pridark;
		border-bottom: 1px solid $pridark;

	}
}

.tricky__elem__list {
	font-weight: 300;
	list-style-type: none;
	margin:.666em 0 0;
	padding:0;
	li {
		font-size: .875em;
	}
}

.tricky__elem__min{
	font-weight: 300;
	font-size: .75em;
	line-height: 1;
	border-top:1px solid $pridark;
	display: inline-block;
	padding-top: .5em;
	@include bp($s2) {
		padding-top: 0;
		border-top:none;
		position: absolute;
	}
}